@font-face {
    font-family: Garnett-Regular;
    src: url(../fonts/Garnett/Garnett-Regular.ttf); 
}
@font-face {
    font-family: VulfSans-Regular;
    src: url(../fonts/VulfSans/VulfSans-Regular.ttf); 
}

/* VARIABLES */
:root{
    /* Colors */
    --primary-color: #ec2027;
    --secondary-color: #fff;
    --tertiary-color: #212121;
    --complimentary-color: #1D2674;
    --background-color: #000;
    --text-color: #eee;
    --light-text: #aaa;
    /* --first-clr: hsl(292, 96%, 44%);
    --second-clr: hsl(331, 90%, 61%);
    --third-clr: hsl(248, 70%, 50%); */

    /* Fonts */
    --title-font: Garnett-Regular;
    --body-font: VulfSans-Regular;

    --bold-weight: 1.05rem;
    --semibold-weight: 1.05rem;
    --regular-weight: 1.05rem;
    --light-weight: 1.26rem;

    --xxlarge-size: 4rem;
    --xlarge-size: 4rem;
    --large-size: 4rem;
    --semilarge-size: 4rem;
    --medium-size: 1rem;
    --small-size: 4rem;
    --smaller-size: 4rem;
    --smallest-size: 4rem;
}

/* RESETS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* REUSABLE CLASSES */

/* for footers, others */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    /* grid-auto-flow: column; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); */
} 

/* for navs, others */
/* .flex{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
} */

.container{
    margin-inline: auto;
    padding-inline: 3.5rem; 
}

h1{ 
    font-family: var(--title-font);
    font-size: 6.6em;
    line-height: 1.12;
    /* display: inline-block; */
}
h1.subheader{ 
    font-size:2rem; 
    color: var(--primary-color); 
}
/* h1, h2, h3, p{ 
    line-height: line-height * 1.618; 
    font-size: font-size * 1.618; 
}
 */

.btn{
    margin: .9rem 0;
    padding: .4rem 1.2rem;
    background: var(--complimentary-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(----medium-size);
    border-radius: 30px;  
    background-image: linear-gradient(to bottom, #66f, #1D2674, #1D2674, #1D2674); 
    background-color: #1D2674;
    border-color: #bbd; 
}

p{ font-family: var(--body-font); font-size: 1.18rem; line-height:1.6; }

.nopadleft{ padding-left:0 }
.mt-2{ margin-top: 2rem; }
.text-right{ text-align: right; }

.light-text{
    padding:0 !important; margin: 0 !important; font-size: 15px; color: var(--light-text);
}
/* NAVIGATION */
.company__logo .nav__logo{ 
    color: var(--light-text); 
    text-transform: uppercase; 
    text-decoration: none; font-weight: bold; 
}

/* DEFAULT REPONSIVENESS >> MOBILE-FIRST DESIGN */
/* 1. Smallest Screen e.g from watches to mobile phones */
body{
    background: var(--background-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(----medium-size);
}

/* BANNER */
#banner, nav{ 
    background: linear-gradient(to left, #ec2027, #000, #000, #000);
}

#banner{ 
    /* background: linear-gradient(to left, #ec2027 0%, black 50%, #000 85%); */
    margin-top: 0 !important;
    padding-top: 1.8rem;
}

.grid32{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); */
    gap: 1rem;
    grid-template-columns: 3fr 2fr;
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); */
}

#explainer__image{
    width:100%;
}


/* ######################################################## */


/* OTHER RESPONSIVENESS >> BREAKPOINTS */
/* 2. For small screens e.g. iPad Mini Tablet */

@media screen and (min-width: 577px) and (max-width: 768px){
    /* .container{
        max-width: 768px;
        margin-inline: auto;
        padding-inline: .8rem;
        background: var(--first-clr);
    }
    .home__title{
        font-size: var(--big-fs-smallscreen);
    } */
} 

/* 
/* 3. For medium screens e.g. iPad Air Tablet */
/* @media screen and (min-width: 769px) and (max-width: 992px){
    .container{
        max-width: 992px;
        margin-inline: auto;
        padding-inline: .8rem;
        background: var(--second-clr);
    }
    .home__title{
        font-size: var(--big-fs-mediumscreen);
    }
} */

/* 4. For large screens e.g. iPad Pro Tablet and small Laptop */
/* @media screen and (min-width: 993px) and (max-width: 1366px){
    .container{
        max-width: 1366px;
        margin-inline: auto;
        padding-inline: .8rem;
        background: var(--third-clr);
    }
    .home__title{
        font-size: var(--big-fs-largescreen);
    }
    
} */

/* 5. For xlarge screens e.g. Laptop (Regular) */
@media screen and (min-width: 1367px) and (max-width: 1920px){
    .container{
        /* max-width: 1920px; */
        /* margin-inline: auto;
        padding-inline: 3.6rem; */
    }
    /* #hero{
        padding-top: 6rem;
        padding-bottom: 6rem;
    } */

    .nav, .nav__list{
        display: flex;
    }
    .nav{
        justify-content: space-between; 
        align-items: center;
        column-gap: 2rem; /*** add this if menu is moved to right too close to another item*/ 
        /* background: var(--first-clr); */
        height: 3rem;
    }
    .nav__list{
        column-gap: 2.5rem;
    }
    .nav__link{
        color: var(--title-clr);
        font-family: var(--body-ff);
        transition: .3s;
    }
    .nav__btns{
        display: flex;
        align-items: center;
        column-gap: 1.5rem;
    }
    .nav__btns .btn{
        border-radius: 6rem;
    }
    .nav__toggle{
        font-size: 1.75rem;
        color: var(--title-clr);
        /* display: none; */
    }
    .nav__menu{
        margin-right: auto
    } 
    /*** Use this if u want to move menu to right or left*/
    /* .nav__menu{
        margin-right: auto
    } */
    
    /* .home__container{
        background-color: var(--third-clr);
        justify-content: center;
        align-items: center;
        padding: 6rem 1rem;
    }  */
}

/* 6. For overlarge screens 
/* @media screen and (min-width: 1921px){
    .container{
        max-width: 2800px;
        margin-inline: auto;
        padding-inline: .8rem;
        background: yellow;
    }
    .home__title{
        font-size: var(--big-fs-overlargescreen);
    }
} */
